/* Define color variables */
:root {
  --primary-color: #EB8258;
  --secondary-color: #FFF8F0;
  --background-color: #0F0F0F;
  --number-color: #EB8258;
  --text-color: #a88590;
  --link-color: #000000;
  --link-hover-color: #acacac;
  --sidebar-bg-color: #270722;
  --sidebar-scrollbar-track-color: #FFF8F0;
  --sidebar-scrollbar-color: #a31621;
  --content-bg-color: #FFF8F0;
  --white: #FFF8F0;
  --black: #000000;
  --red: #A31621;
  --loader-bg-color: #270722;
  --right-section-background: #0A0A0A;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--content-bg-color);
  overflow-x: hidden;
}

.site-info {
  color: var(--black);
}

body a {
  text-decoration: none;
  color: var(--link-color);
  transition: color 0.3s linear;
}

body a:hover {
  color: #acacac;
}

body img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
}

.doc-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: var(--background-color);
}

.doc-loader img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  margin-bottom: 30px;
}

.content-1300 {
  max-width: 1300px;
}

.section-info {
  font-size: 22px;
  line-height: 35px;
}

a.button {
  display: inline-block;
  color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  text-align: center;
  padding: 12px 38px;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 50px;
  transition: all 0.2s linear;
}

a.button:active {
  position: relative;
  top: 1px;
}

a.button:hover {
  color: white;
  background-color: var(--primary-color);
}


.content-left {
  position: fixed;
  width: 380px;
  background-color: var(--background-color);
  height: 100vh;
  z-index: 1;
}

.content-left::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--sidebar-scrollbar-track-color);
}

.content-left::-webkit-scrollbar {
  width: 7px;
  background-color: var(--sidebar-scrollbar-track-color);
}

.content-left::-webkit-scrollbar-thumb {
  background-color: var(--red);
}

.content-left-wrapper {
  padding-left: 75px;
  position: relative;
}

.toggle-holder {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 3;
}

#toggle {
  height: 23px;
  width: 30px;
  position: relative;
}

#toggle:hover {
  cursor: pointer;
}

#toggle:before,
#toggle:after {
  content: '';
  height: 3px;
  width: 30px;
  position: absolute;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  top: 8px;
  background-color: var(--secondary-color);
}

#toggle:before {
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0px);
  width: 21px;
  margin-left: 0;
}

#toggle:hover:before {
  margin-left: 9px;
}

#toggle.on:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg) translate3d(0, 0, 0);
  transform: rotate3d(0, 0, 1, 45deg) translate3d(0, 0, 0);
  background-color: var(--content-bg-color);
  margin-left: 0;
  width: 26px;
}

#toggle.on:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
  background-color: var(--content-bg-color);
  width: 26px;
}

#toggle:after {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
}

#toggle .menu-line {
  width: 13px;
  height: 3px;
  position: absolute;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  margin-left: 0;
  top: 8px;
  background-color: var(--secondary-color);
}

#toggle:hover .menu-line {
  margin-left: 17px;
}

#toggle.on .menu-line {
  opacity: 0;
}

.top-pagination {
  position: relative;
  z-index: 2;
  padding-top: 150px;
}

.top-pagination > div {
  display: inline-block;
  font-weight: 700;
  vertical-align: top;
}

.current-num {
  width: 25px;
  position: relative;
  height: 30px;
  color: var(--number-color);
}

.current-num span {
  position: absolute;
  left: 0;
}

.total-pages-num {
  color: var(--secondary-color);
}

.pagination-div {
  position: relative;
  width: 100px;
  height: 30px;
  margin-right: 8px;
}

.pagination-div:after {
  content: '';
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: var(--secondary-color);
  top: 12px;
}

.my-info-wrapper {
  padding-top: 110px;
}

.my-info {
  margin-bottom: 30px;
}

.my-info > p {
  margin-bottom: 0;
}

.my-info-title {
  font-size: 12px;
  line-height: 100%;
  color: var(--primary-color);
  letter-spacing: 5px;
}

.my-info-content {
  color: var(--secondary-color);
}

img.my-info-signature {
  width: 215px;
  padding-top: 35px;
  padding-bottom: 30px;
  z-index: 2;
  position: absolute;
}

.big-num {
  position: fixed;
  width: 380px;
  left: 0;
  bottom: 30px;
  padding-left: 75px;
  z-index: 1;
}

.current-big-num {
  font-size: 160px;
  -webkit-text-stroke: 3px var(--number-color);
  color: transparent;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: -4px;
  position: relative;
  margin-top: 20px;
  z-index: 2;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  right: -18px;
}

.icon-scroll {
  width: 38px;
  height: 60px;
  margin-left: -20px;
  bottom: 25px;
  margin-top: -35px;
  box-shadow: inset 0 0 0 3px var(--number-color);
  border-radius: 25px;
  transition: right 0.5s;
}

.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: var(--number-color);
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
  left: 50%;
}

.icon-scroll:after {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: var(--background-color);
  width: 58px;
  height: 80px;
  border-radius: 25px;
  transform: translate(-10px, -10px);
  transition: all 0.3s;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(35px);
    transform: translateY(35px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(35px);
    transform: translateY(35px);
  }
}

.open .icon-scroll {
  right: 30px;
  z-index: 1;
}

.open .icon-scroll:after {
  background-color: transparent;
}


.menu-wrapper {
  padding-top: 150px;
}

.menu-holder {
  padding: 120px 50px 0 75px;
  background-color: var(--red);
  width: 380px;
  height: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  transform: translateX(-380px);
  transition: transform 0.3s linear;
  z-index: 1;
}

.menu-holder.open {
  transform: translateX(0);
}

.main-menu.sm-clean {
  background-color: transparent;
  display: inline-block;
}

.sm-clean a {
  position: relative;
}

.sm-clean a,
.sm-clean a:hover,
.sm-clean a:focus,
.sm-clean a:active {
  color: var(--content-bg-color);
  padding: 5px 0;
  font-size: 28px;
  line-height: 50px;
  font-weight: 700;
}

.sm-clean a:after {
  content: '';
  display: block;
  width: 0;
  height: 16px;
  background-color: var(--number-color);
  transition: width 0.3s;
  position: absolute;
  left: -5%;
  bottom: 7px;
  z-index: -1;
}

.main-menu.sm-clean .sub-menu li a:after {
  height: 3px;
  bottom: 20px;
}

.sm-clean a.current:after,
.sm-clean a:hover:after,
.sm-clean a:active:after,
.sm-clean a.highlighted:after,
.sm-clean ul a:hover:after,
.sm-clean ul a:active:after,
.sm-clean ul a.highlighted:after,
.sm-clean li.current > a:after {
  width: 110%;
}

.sm-clean a span.sub-arrow {
  color: var(--number-color);
}

.main-menu.sm-clean .sub-menu li a {
  color: #848484;
  text-transform: uppercase;
  font-size: 14px;
}

.content-right {
  margin-left: 380px;
  width: calc(100% - 380px);
}

.content-right-wrapper > div:last-of-type {
  padding-bottom: 150px;
}

.section {
  background-color: var(--right-section-background);
  position: relative;
  padding-top: 150px;
}

.section-wrapper {
  padding-left: 5%;
  padding-right: 5%;
}

.full-width-section.section {
  padding: 0;
}

.full-width-section .section-wrapper {
  padding: 0 0 0 5%;
  height: 100vh;
  margin: 0;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  background-color: var(--secondary-color);
}

h2.section-title {
  font-size: 30px;
  line-height: 100%;
  margin-bottom: 30px;
  padding-top: 0;
}

.home-left-part {
  flex: 0 0 370px;
  margin-right: 5%;
}

/** START ---- Right Home Page CSS **/

.home-right-part {
  background: var(--right-section-background);
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.home-right-part .circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-right-part .circles li {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 20px;
  color: var(--black);
  height: 20px;
  background: var(--white);
  animation: animate 25s linear infinite;
  bottom: -150px;
  text-align: center;
  font-size: 14px;
}

/* Define styles for individual circles */
.home-right-part .circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.home-right-part .circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.home-right-part .circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.home-right-part .circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.home-right-part .circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.home-right-part .circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.home-right-part .circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.home-right-part .circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.home-right-part .circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.home-right-part .circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
.home-right-part .circles li:nth-child(11) {
  left: 1%;
  width: 192px;
  height: 192px;
  bottom: -192px;
  animation-delay: 20s;
}
.home-right-part .circles li:nth-child(12) {
  left: 42%;
  width: 262px;
  height: 262px;
  bottom: -262px;
  animation-delay: 23s;
}
.home-right-part .circles li:nth-child(13) {
  left: 48%;
  width: 175px;
  height: 175px;
  bottom: -175px;
  animation-delay: 19s;
}
.home-right-part .circles li:nth-child(14) {
  left: 64%;
  width: 247px;
  height: 247px;
  bottom: -247px;
  animation-delay: 22s;
}
.home-right-part .circles li:nth-child(15) {
  left: 72%;
  width: 127px;
  height: 127px;
  bottom: -127px;
  animation-delay: 72s;
}
.home-right-part .circles li:nth-child(16) {
  left: 81%;
  width: 72px;
  height: 72px;
  bottom: -72px;
  animation-delay: 23s;
}
.home-right-part .circles li:nth-child(17) {
  left: 0%;
  width: 214px;
  height: 214px;
  bottom: -214px;
  animation-delay: 52s;
}
.home-right-part .circles li:nth-child(18) {
  left: 31%;
  width: 228px;
  height: 228px;
  bottom: -228px;
  animation-delay: 22s;
}
.home-right-part .circles li:nth-child(19) {
  left: 62%;
  width: 209px;
  height: 209px;
  bottom: -209px;
  animation-delay: 40s;
}
.home-right-part .circles li:nth-child(20) {
  left: 33%;
  width: 180px;
  height: 180px;
  bottom: -180px;
  animation-delay: 31s;
}

@keyframes animate {
  0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}


/** END ---- Right Home Page CSS **/

.site-des {
  font-size: 28px;
  color: var(--primary-color);
}

h1.entry-title {
  font-size: 100px;
  line-height: 94px;
  font-weight: 800;
  color: var(--background-color);
}

.site-info {
  margin-top: 25px;
}

.social-links {
  margin-top: 10vh;
  margin-bottom: -5px;
}

.social-links a {
  font-size: 12px;
  color: #492d31;
  letter-spacing: 5px;
  margin-right: 30px;
}

.social-links a:last-of-type {
  margin-right: 0;
}

.services-wrapper {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.service-holder {
  padding: 36px;
  background-color: #362a2e;
  width: 47%;
  margin-right: 6%;
  margin-bottom: 6%;
}

.service-holder img {
  width: 80px;
  margin-bottom: 30px;
}

.service-title {
  font-size: 28px;
  line-height: 42px;
  color: var(--primary-color);
  font-weight: 700;
}

.button-group-wrapper {
  margin-top: 50px;
}

.button-group-wrapper > a {
  margin-right: 1vw;
}

.button-group-wrapper > a:last-of-type {
  margin-right: 0;
}

.category-filter {
  position: absolute;
  right: 0;
  top: -20px;
  z-index: 1;
  width: 25px;
  height: 15px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.category-filter.hide {
  opacity: 0;
  transform: translateY(70px);
}

.category-filter-list > div {
  margin-bottom: 5px;
}

.category-filter-list > div:last-of-type {
  margin-bottom: 0;
}

.category-filter-icon {
  width: 20px;
  height: 3px;
  background-color: var(--primary-color);
  float: right;
  transition: width 0.3s ease;
}

.category-filter:hover .category-filter-icon,
.category-filter.filter-open .category-filter-icon {
  width: 24px;
}

.category-filter-icon:after {
  content: '';
  display: block;
  width: 10px;
  height: 3px;
  background-color: var(--primary-color);
  transform: translate(-5px, 8px);
  transition: transform 0.3s ease;
}

.category-filter:hover .category-filter-icon:after,
.category-filter.filter-open .category-filter-icon:after {
  transform: translate(4px, 8px);
}

.category-filter-icon:before {
  content: '';
  display: block;
  width: 10px;
  height: 3px;
  background-color: var(--primary-color);
  transform: translate(10px, 11px);
  transition: transform 0.3s ease;
}

.category-filter:hover .category-filter-icon:before,
.category-filter.filter-open .category-filter-icon:before {
  transform: translate(14px, 11px);
}

.category-filter-list {
  background-color: var(--background-color);
  padding-left: 20px; /* We did this in variants to collapse the toggle button */
  padding-right: 20px; /* We did this in variants to collapse the toggle button */
  width: 110px;
  display: block;
  position: absolute;
  right: 0;
  top: 15px;
  font-size: 13px;
  line-height: 22px;
  color: var(--secondary-color);
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
}

.category-filter-list .button.is-checked {
  color: var(--primary-color);
}

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

.grid {
  width: calc(100% + 60px);
  margin-left: -30px;
  position: relative;
  display: block;
  overflow: hidden;
}

.grid a.item-link {
  display: block;
}

.grid-item {
  float: left;
  font-size: 0;
  line-height: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
  border: 30px solid transparent;
  width: 50%;
  transition: opacity 0.3s;
}

.grid-item img {
  display: block;
  width: 100%;
  height: auto;
  max-height: none;
  max-width: none;
}

.grid-sizer,
.grid-item {
  width: calc(100% / 3);
}

.grid-item.p-one {
  width: 100%;
}

.grid-item.p-one-third {
  width: calc(100% / 3);
}

.grid-item.p-two-third {
  width: calc(200% / 3);
}

.portfolio-text-holder {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  font-size: 20px;
  background-color: var(--right-section-background);
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.grid-item a.item-link:hover .portfolio-text-holder,
.grid-item.portfolio-content-loading a.item-link .portfolio-text-holder {
  transform: translateX(0);
}

#portfolio-grid.portfoio-items-mask .grid-item {
  opacity: 0.2;
}

.grid-item.portfolio-content-loading {
  opacity: 1 !important;
}

.portfolio-text-wrapper {
  position: absolute;
  left: 30px;
  bottom: 0;
}

.portfolio-text {
  font-size: 28px;
  line-height: 100%;
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: 0;
  padding-bottom: 5px;
}

.portfolio-type {
  color: var(--primary-color);
  font-size: 12px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.portfolio-cat {
  font-size: 15px;
  color: var(--secondary-color);
  line-height: 100%;
}

.portfolio-cat:before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 1px;
  background-color: var(--secondary-color);
  vertical-align: 4px;
  margin-right: 5px;
}

.portfolio-load-content-holder {
  opacity: 0;
  transform: translateY(70px);
  transition: all 0.5s ease;
}

.portfolio-load-content-holder.show {
  transform: translateY(0);
  opacity: 1;
}

.portfolio-load-content-holder.show.viceversa {
  opacity: 0;
  transform: translateY(70px);
}

.portfolio-content-wrapper {
  display: none;
}

.portfolio-content-wrapper.show {
  display: block;
}

.close-icon {
  /* background-image: url(images/close-left-arrow.png); */
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  display: inline-block;
  background-color: var(--white);;
  border-radius: 5px;
  margin-bottom: 20px;
  background-size: 70px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.close-icon:hover {
  background-position: -5px 0;
}

#portfolio-grid {
  transition: all 0.5s ease;
  opacity: 1;
  transform: translateY(0px);
}

#portfolio-grid.hide {
  opacity: 0;
  transform: translateY(70px);
}

.grid-item a.item-link.portfolio-content-loading:after,
.ajax-portfolio.portfolio-content-loading .portfolio-text-holder {
  opacity: 1;
}


div.pp_default .pp_loaderIcon {
  display: none !important;
}

div.pp_default a.pp_arrow_previous {
  background-image: url(images/nav_left.png);
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  font-size: 0;
  line-height: 0;
  text-indent: -99999999px;
  transition: transform 0.3s ease;
}

div.pp_default a.pp_arrow_next {
  background-image: url(images/nav_right.png);
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 0;
  line-height: 0;
  text-indent: -99999999px;
  transition: transform 0.3s ease;
}

div.pp_default a.pp_arrow_previous:hover {
  transform: translateX(-5px);
}

div.pp_default a.pp_arrow_next:hover {
  transform: translateX(5px);
}

div.pp_default .pp_close {
  background-image: url(images/close.png);
  background-size: 30px 30px;
  margin-top: 5px;
  text-indent: -99999999px;
  font-size: 0;
  line-height: 0;
}

div.pp_default .pp_next:hover {
  background: url(images/nav_right.png);
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 20px;
}

div.pp_default .pp_previous:hover {
  background: url(images/nav_left.png);
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 20px;
}

div.pp_default .pp_nav .currentTextHolder {
  padding: 0 0 0 20px;
  color: var(--content-bg-color);
}

div.pp_default .pp_content_container .pp_details {
  margin-top: 30px !important;
  z-index: 3;
}

div.pp_default .pp_description {
  font-size: 15px;
  line-height: 30px;
  position: absolute;
  top: -30px;
  margin: 0;
  color: var(--content-bg-color);
  font-weight: 400;
}

.single-portfolio .section {
  min-height: 100vh;
}

.portfolio-content {
  padding-bottom: 1px;
}

.owl-stage {
  display: flex;
  display: -webkit-flex;
}

.owl-carousel .owl-item {
  width: 100%;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 20px;
  line-height: 0;
}

.owl-theme .owl-dots .owl-dot span {
  margin: 0;
  background-color: var(--secondary-color);
  transition: all 0.3s ease;
  width: 18px;
  height: 18px;
  border-radius: 90%;
}

.owl-theme .owl-dots .owl-dot {
  border-radius: 90%;
  transition: all 0.3s ease;
  margin: 4px;
}

.owl-theme .owl-dots .owl-dot:hover span {
  background-color: var(--secondary-color);
}

.owl-theme .owl-dots .owl-dot.active span {
  background-color: var(--primary-color);
}


ul.timeline-holder {
  margin: 0;
  padding: 0 0 0 55px;
}

li.timeline-event {
  margin: 0 0 42px 60px;
  position: relative;
  padding-top: 5px;
  list-style: none;
  transition: 0.3s;
}

li.timeline-event:hover {
  color: var(--secondary-color);
}

li.timeline-event:before {
  content: '';
  width: 3px;
  height: calc(100% - 20px);
  position: absolute;
  background-color: var(--number-color);
  left: -30px;
  top: 51px;
}

li.timeline-event:last-child:before {
  display: none;
}

li.timeline-event:last-child {
  margin-bottom: 0;
}

li.timeline-event span.timeline-circle:after {
  content: '';
  position: absolute;
  width: 19px;
  height: 19px;
  left: -8px;
  top: 11px;
  border-radius: 90%;
  background-color: var(--white);
  opacity: 0;
  transition: opacity 0.3s;
}

li.timeline-event:hover span.timeline-circle:after {
  opacity: 1;
}

span.timeline-circle {
  position: absolute;
  top: 0;
  left: -30px;
}

span.timeline-circle:before {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 90%;
  border: 3px solid var(--number-color);
  position: absolute;
  left: -16px;
  top: 3px;
  z-index: 1;
  transition: 0.3s;
}

.timeline-event-date {
  position: absolute;
  left: -115px;
  top: 2px;
  transition: 0.3s;
  color: var(--number-color);
  font-weight: 700;
}

li.timeline-event:hover .timeline-event-date {
  transform: translateX(-10px);
  color: var(--number-color);
}

.timeline-event-content {
  line-height: 160%;
  text-align: left;
  margin-left: 50px;
}

img.my-signature {
  padding-top: 30px;
  width: 215px;
}

.skill-circle-holder > div:last-of-type {
  margin-right: 0;
}

.skill-circle {
  display: inline-block;
  margin-right: 6%;
  width: 15%;
  max-width: 254px;
}

.skill-circle-wrapper canvas {
  width: 100% !important;
  height: auto !important;
  display: block;
}

span.skill-circle-num {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  font-weight: 700;
  color: var(--white);
  letter-spacing: -1px;
}

p.skill-circle-text {
  font-size: 22px;
  color: var(--white);
  text-align: center;
  padding-top: 20px;
  letter-spacing: -1px;
  margin-bottom: 0;
}

.skills-holder {
  position: relative;
}

.skills-holder > div:last-of-type {
  margin-bottom: 0;
}

.skill-holder {
  margin-bottom: 20px;
  position: relative;
}

.skill-holder:after {
  clear: both;
  display: block;
  content: '';
}

.skill-percent {
  font-size: 45px;
  line-height: 100%;
  font-weight: 700;
  width: 100px;
  float: right;
  color: var(--sidebar-scrollbar-track-color);
  letter-spacing: -1px;
}

.skill {
  width: 100%;
  height: 12px;
  background-color: var(--sidebar-scrollbar-track-color);
  margin-bottom: 15px;
}

.skill-text {
  float: left;
  width: calc(100% - 145px);
  margin-top: 25px;
}

.skill-fill {
  width: 10%;
  height: 22px;
  background-color: var(--primary-color);
  transform: translateY(-5px);
  transition: width 0.7s;
}

.skill-text span {
  font-size: 22px;
  line-height: 35px;
  color: var(--white);
}

.section#contact {
  padding-bottom: 150px;
}

.contact-form {
  padding: 65px;
  background-color: var(--primary-color);
}

.contact-form p {
  margin-bottom: 15px;
}

.contact-form input[type='text'],
.contact-form input[type='email'],
.contact-form textarea {
  border: 0;
  border-bottom: 2px solid var(--content-bg-color);
  padding-top: 13px;
  padding-bottom: 13px;
  margin: 10px 0;
  height: 28px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  line-height: 25px;
  background-color: transparent;
  color: var(--content-bg-color);
}

.contact-form input[name='your-name'] {
  margin-top: 0;
  padding-top: 0;
}

.contact-form textarea {
  height: 150px;
}

p.contact-submit-holder {
  margin-bottom: 0 !important;
}

.contact-form input[type='submit'] {
  display: inline-block;
  border: 2px solid;
  text-align: center;
  padding: 20px 0px;
  font-size: 14px;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
  background-color: transparent;
  color: var(--content-bg-color);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  width: 100%;
  letter-spacing: 8px;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.contact-form input[type='submit']:hover {
  opacity: 0.8;
}

.contact-form input[type='text']::-webkit-input-placeholder,
.contact-form input[type='email']::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
  font-family: 'Poppins', sans-serif;
  color: var(--content-bg-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  opacity: 1;
}

.contact-form input[type='text']:-ms-input-placeholder,
.contact-form input[type='email']:-ms-input-placeholder,
.contact-form textarea:-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;
  color: var(--content-bg-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  opacity: 1;
}

.contact-form input[type='text']::placeholder,
.contact-form input[type='email']::placeholder,
.contact-form textarea::placeholder {
  font-family: 'Poppins', sans-serif;
  color: var(--content-bg-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  opacity: 1;
}

.respond-message {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  background-color: #302729;
}

/* Loader */
.preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  transition: opacity 0.5s;
}
.preloader .loader {
  width: 40px;
  height: 40px;
  border: 5px solid var(--primary-color);
  border-top-color: transparent;
  border-radius: 50%;
  animation: loading-animation 2s linear infinite;
}
.preloader.fadeOff {
  opacity: 0;
}

@keyframes loading-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -- */
text.CircularProgressbar-text {
  font-weight: bold;
}
.CircularProgressbar-trail {
  stroke-width: 6px;
}

.footer {
  background-color: var(--right-section-background); /* Background color for the footer */
  color: var(--secondary-color); /* Text color for the copyright content */
  padding: 10px; /* Add some padding for spacing */
  padding-right: 50px;
  text-align: right; /* Center-align the content */
}

.copyright {
  font-size: 14px; /* Adjust font size as needed */
}

.container {
  max-width: auto; /* Limit the width of the footer content */
  margin: 0 auto; /* Center-align the content within the container */
}
